@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0; 
  /* overflow: hidden; */
}

@layer components {
  .input {
    @apply w-full px-4 py-3 rounded-lg 
    bg-white/20 text-white placeholder-gray-300
    border border-white/20 
    focus:outline-none focus:ring-2 focus:ring-blue-400;
  }
}
